<h1>{{ name }}</h1>

<!--ngIf : for large element trees-->
<h2>--ngIf--</h2>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>

<ng-template #coursesList>
  List of courses
</ng-template> 

<ng-template #noCourses>
  No courses yet
</ng-template>

<!--Hidden : for small element trees-->
<h2>--Hidden--</h2>

<div [hidden]="courses.length == 0">
  List of courses
</div>

<div [hidden]="courses.length > 0">
  No courses yet
</div>

<!--ngSwitchCase-->
<h2>--ngSwitchCase--</h2>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'">
    <a href="#" (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active]="viewMode == 'list'">
    <a href="#" (click)="viewMode = 'list'">List View</a>
  </li>
  <li [class.active]="viewMode == 'else'">
    <a href="#" (click)="viewMode = 'else'">Other View</a>
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other View Content</div>
</div>

<!--ngFor-->
<h2>--ngFor--</h2>

<button (click)="onAdd()">Add</button>


<ul>
	<li *ngFor="let course of courses; index as i">
    {{ i }} - {{ course.name }}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change</button>
  </li>
</ul>
<ul>
	<li *ngFor="let course of courses; even as isEven">
    {{ course.name }} <span *ngIf="isEven">(Even)</span>
  </li>
</ul>

<!--ngModel-->
<div>
  Enter your email and click confirm : <br/>
  <input [(ngModel)]="email" (keyup.enter)="confirm()"/>
  <button (click)="confirm()">Confirm!</button>
</div>

<!--Form-->
<form>

  <div class="form-control">
    <label for="firstName">First Name : </label>
    <input class="form-control" ngModel name="firstName" (change)="log(firstName)" #firstName="ngModel" 
    id="firstName" type="text" required minlength="3" maxlength="10" pattern="" />

    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors.required">First Name is required!</div>
      <div *ngIf="firstName.errors.minlength">
        First Name should be minmum {{ firstName.errors.minlength.requiredLength }} characters.
      </div>
      <div *ngIf="firstName.errors.pattern">First Name does not match pattern.</div>      
    </div>

  </div>

  <div class="form-group">
    <label for="comment">Comment : </label>
    <textarea ngModel name="comment" id="comment" cols="" rows="" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary">Submit</button>

</form>
